h1 {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
    font-family: Helvetica;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: Khaki;
  }
 #brushes {
    background-color: MediumSpringGreen;
  }

 #frames {
     background-color: lightcoral;
   }

 #paint {
      background-color: skyblue;
    }
    
  .items h2 {
     color: white;
     font-size: 32px;
     font-weight: bold;
 }
h2, h3, p em {
    font-family: Helvetica;
    font-size: 14px;
}
em {
  color: blue;
  font-weight: bold;
  font-style: normal;
}
